nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 97;
    padding: 20px;
    width: calc(100vw - 40px);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links {
    display: flex;
    flex-direction: row;
    cursor: pointer;
    font-weight: bold;
    transform: translate(-20%, 0);
}
.link {
    width: 150px;
    text-align: center;
    transition: 250ms ease-in-out;
}

.link:hover {
    color: white;
}


@media (max-width : 500px) {
    .links {
        display: none;
    }

}