.custom_cursor {
    height: 50px;
    width: 50px;
    background-color: var(--color-shade5);
    border-radius: 100%;
    position: fixed;
    top:0;
    left: 0;
    z-index: 101;
    top :  calc((50px/2) * -1 );
    left :  calc((50px/2) * -1 );
    pointer-events: none;
    mix-blend-mode:multiply;
}