.scroll_wrapper {
    width: 100vw;
    white-space: nowrap;
    overflow-x: hidden;
}

.slide_primary, .slide_secondary {
    width: 100vw;
    font-size: var(--font-size-giant);
    position: absolute;
    left: 100vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.slide_primary {
    animation: scroll 20s linear infinite;
}
.slide_secondary {
    animation: scroll 20s linear infinite;
    animation-delay:10s ;
}

@keyframes scroll {
    0% {
        left: 100vw
    }
    100% {
        left: -100vw;
    }
}