.scroll_wrapper {
  width: 100vw;
  overflow: hidden;
  white-space: nowrap;
  display: flex;
}

.slide_track {
  display: flex;
  width: max-content;
  animation: marquee 20s linear infinite;
}

.slide_content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100vw;
  flex-shrink: 0;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100vw);
  }
}